/****************************************************************************          网站整体风格定义 */
BODY {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	/* ==========    默认页面文字大小    =============== */
	SCROLLBAR-FACE-COLOR: #01809A;
	SCROLLBAR-HIGHLIGHT-COLOR: #01809A;
	SCROLLBAR-SHADOW-COLOR: #01809A;
	SCROLLBAR-3DLIGHT-COLOR: #01809A;
	SCROLLBAR-ARROW-COLOR: #fFFFFF;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-BASE-COLOR: #ffffff;
	/* ==========    默认页面文字、大小、行距、颜色   =============== */
	font-family:"微软雅黑";
	font-size: 12px;
	color: #333;
	text-decoration: none;
	/* ==========    页面背景颜色    =============== */
	background-color: #F2F2F2;
	background-image: url(../images/bj.jpg);
	background-repeat: repeat-x;
	background-position: center top;    /* ==========    filter虑镜，上下渐变定义    =============== 
	filter:alpha(style=1,startY=0,finishY=100,startX=100,finishX=100);
	*/
	line-height: 24px;
	scrollbar-face-color:#C0C0C0;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#C0C0C0;
	scrollbar-darkshadow-color:#000000;
	scrollbar-shadow-color:#808080;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#E0E0E0;

}

.hg_30{	line-height: 30px;}
/****************************************************************************       网站默认连接定义 */
	/* ==========    带链接状态    =============== */
A:link {
	TEXT-DECORATION: none;
	color:#333;
	}
	/* ==========    鼠标点击后，链接状态    =============== */
A:visited {
	TEXT-DECORATION: none;
	color:#333;
	}
    /* ==========    鼠标经过，链接状态色    =============== */
A:hover {
	TEXT-DECORATION: none;
	color: #0A8BC4;
	}
	/* ==========    鼠标无点击过，链接状态    =============== */
A:active {
	TEXT-DECORATION: none;
	color:#333;
}



	/* ==========    带链接状态    =============== */
A.dao:link {
	TEXT-DECORATION: none;
	color: #fff;
	font-size:14px;
	}
	/* ==========    鼠标点击后，链接状态    =============== */
A.dao:visited {
	TEXT-DECORATION: none;
	color: #fff;
	}
    /* ==========    鼠标经过，链接状态色    =============== */
A.dao:hover {
	TEXT-DECORATION: underline;
	color: #FFF;
	LEFT: 1px;
	POSITION: none;
	TOP: 1px
	}
	/* ==========    鼠标无点击过，链接状态    =============== */
A.new:active {
	TEXT-DECORATION: none;
	color: #fff;
}


	/* ==========    带链接状态    =============== */
A.new:link {
	TEXT-DECORATION: none;
	color: #0A8BC4;
	}
	/* ==========    鼠标点击后，链接状态    =============== */
A.new:visited {
	TEXT-DECORATION: none;
	color:#0A8BC4;
	}
    /* ==========    鼠标经过，链接状态色    =============== */
A.new:hover {
	TEXT-DECORATION: underline;
	color:#0A8BC4;
	LEFT: 1px;
	POSITION: none;
	TOP: 1px
	}
	/* ==========    鼠标无点击过，链接状态    =============== */
A.new:active {
	TEXT-DECORATION: none;
	color:#0A8BC4;
}




	/* ==========    带链接状态    =============== */
A.new02:link {
	TEXT-DECORATION: none;
	color: #f60;
	}
	/* ==========    鼠标点击后，链接状态    =============== */
A.new02:visited {
	TEXT-DECORATION: none;
	color:#f60;
	}
    /* ==========    鼠标经过，链接状态色    =============== */
A.new02:hover {
	TEXT-DECORATION: underline;
	color:#f60;
	LEFT: 1px;
	POSITION: none;
	TOP: 1px
	}
	/* ==========    鼠标无点击过，链接状态    =============== */
A.new02:active {
	TEXT-DECORATION: none;
	color:#f60;
}


.hg_15{line-height:15px;}

/****************************************************************************          背景定义  */
.bk_e4e4e4{
	border: 1px solid #e4e4e4;
}
.bkdhx{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #cecece;
}
.dhx{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
}
.font_st{ font-family:"宋体";}

/****************************************************************************          文字描边定义  */
.font_0A8BC4{ color:#0A8BC4;}
.font_fff{ color:#FFFFFF;}
.fotn_999{ color:#999999;}
.fotn_c69000{ color:#c69000;}

.font_14{ font-size:14px;}
.font_16{ font-size:16px;}
.font_18{ font-size:18px;}
.font_24{ font-size:24px;}
